<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="${CATALINA_HOME}/logs"></property><!--设置线上的地址-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender"><!--打印到Tomcat的日志-->
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern><!--打印的日志格式-->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level><!--筛选出大于debug级别的日志 DEBUG-->
        </filter>
    </appender>

    <appender name="mmall" class="ch.qos.logback.core.rolling.RollingFileAppender"><!--日志滚动下载-->
        <!--<File>d:/mmalllog/mmall.log</File>-->
        <!--<File>/developer/apache-tomcat-7.0.73/logs/mmall.log</File>--><!--存放日志文件的路径-->
        <File>${LOG_HOME}/logs/mmall.log</File><!--存放日志文件的路径-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>/developer/apache-tomcat-7.0.73/logs/mmall.log.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
            <fileNamePattern>${LOG_HOME}/logs/mmall.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory><!--存放历史(天数)-->
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern><!--存储起来日志的格式-->
        </encoder>
    </appender>


    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<File>d:/mmalllog/error.log</File>-->
        <File>/developer/apache-tomcat-7.0.56-windows-x64/apache-tomcat-7.0.56/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/logs/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!--<fileNamePattern>d:/mmalllog/error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>-->
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!--筛选想要打印的日志-->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.mmall" additivity="false" level="INFO" >
        <appender-ref ref="mmall" /><!--打印到哪里-->
        <appender-ref ref="console"/><!--打印到什么地方-->
        <appender-ref ref="error"/><!--打印到什么地方-->
    </logger>



    <!-- geelynote mybatis log 日志 -->

    <logger name="com.mmall.dao" level="DEBUG"/><!--查看mybati配置Dao层的日志为了方便查看打印出来的日志如何-->

    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <!--<logger name="java.sql.Statement" level="DEBUG">-->
    <!--<appender-ref ref="console"/>-->
    <!--</logger>-->

    <!--<logger name="java.sql.PreparedStatement" level="DEBUG">-->
    <!--<appender-ref ref="console"/>-->
    <!--</logger>-->


    <root level="DEBUG"><!--根节点日志水平设置以及相关打印-->
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </root>

</configuration>